<a href="https://colab.research.google.com/github/chiranjeev1990/ML2/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task 1:**

Question 2:

In [1]:
mysep = ""
for i in range(2000,3201):
    if(i%7==0) and (i%5 !=0):
        print(mysep,i,sep="")
        mysep=","

2002
,2009
,2016
,2023
,2037
,2044
,2051
,2058
,2072
,2079
,2086
,2093
,2107
,2114
,2121
,2128
,2142
,2149
,2156
,2163
,2177
,2184
,2191
,2198
,2212
,2219
,2226
,2233
,2247
,2254
,2261
,2268
,2282
,2289
,2296
,2303
,2317
,2324
,2331
,2338
,2352
,2359
,2366
,2373
,2387
,2394
,2401
,2408
,2422
,2429
,2436
,2443
,2457
,2464
,2471
,2478
,2492
,2499
,2506
,2513
,2527
,2534
,2541
,2548
,2562
,2569
,2576
,2583
,2597
,2604
,2611
,2618
,2632
,2639
,2646
,2653
,2667
,2674
,2681
,2688
,2702
,2709
,2716
,2723
,2737
,2744
,2751
,2758
,2772
,2779
,2786
,2793
,2807
,2814
,2821
,2828
,2842
,2849
,2856
,2863
,2877
,2884
,2891
,2898
,2912
,2919
,2926
,2933
,2947
,2954
,2961
,2968
,2982
,2989
,2996
,3003
,3017
,3024
,3031
,3038
,3052
,3059
,3066
,3073
,3087
,3094
,3101
,3108
,3122
,3129
,3136
,3143
,3157
,3164
,3171
,3178
,3192
,3199

Question 2:

In [2]:
for i in range(2000,3201):
    if(i%7==0) and (i%5 !=0):
        print(mysep,i,end=",")

, 2002,, 2009,, 2016,, 2023,, 2037,, 2044,, 2051,, 2058,, 2072,, 2079,, 2086,, 2093,, 2107,, 2114,, 2121,, 2128,, 2142,, 2149,, 2156,, 2163,, 2177,, 2184,, 2191,, 2198,, 2212,, 2219,, 2226,, 2233,, 2247,, 2254,, 2261,, 2268,, 2282,, 2289,, 2296,, 2303,, 2317,, 2324,, 2331,, 2338,, 2352,, 2359,, 2366,, 2373,, 2387,, 2394,, 2401,, 2408,, 2422,, 2429,, 2436,, 2443,, 2457,, 2464,, 2471,, 2478,, 2492,, 2499,, 2506,, 2513,, 2527,, 2534,, 2541,, 2548,, 2562,, 2569,, 2576,, 2583,, 2597,, 2604,, 2611,, 2618,, 2632,, 2639,, 2646,, 2653,, 2667,, 2674,, 2681,, 2688,, 2702,, 2709,, 2716,, 2723,, 2737,, 2744,, 2751,, 2758,, 2772,, 2779,, 2786,, 2793,, 2807,, 2814,, 2821,, 2828,, 2842,, 2849,, 2856,, 2863,, 2877,, 2884,, 2891,, 2898,, 2912,, 2919,, 2926,, 2933,, 2947,, 2954,, 2961,, 2968,, 2982,, 2989,, 2996,, 3003,, 3017,, 3024,, 3031,, 3038,, 3052,, 3059,, 3066,, 3073,, 3087,, 3094,, 3101,, 3108,, 3122,, 3129,, 3136,, 3143,, 3157,, 3164,, 3171,, 3178,, 3192,, 3199,

Question 3:

In [0]:
first_name = input("Enter your first name : ")
last_name = input("Enter your last name : ")
name = last_name + " " + first_name
print(name)

Question 4:

In [3]:
diameter = float(input("Enter the diamter value : "))
PI = 3.14
volume = (4/3)*PI*((diameter/2)**3)
print("The volume of the sphere is : %.2f" %volume)12

Enter the diamter value : 12
The volume of the sphere is : 904.32

**TASK 2**

Question 1:

In [0]:
lst = []
n = int(input("Enter number of elements: "))
for i in range(0,n):
    ele = int(input())
    lst.append(ele)
print(lst)

Question 1:

In [0]:
lis = input("Enter a number of comma separated numbers: ")
lis = lis.split(",")
print(lis)

Question 2:

In [0]:
for i in range(0,5):
    for j in range(0,i+1):
        print("* ",end="")
    print("\r")
for i in range (5, 0, -1):
    for j in range(0, i-1):
        print("* ", end="")
    print("\r")

Question 3:

In [0]:
word = input("Enter anything of your choice: ")
for i in range(len(word) - 1, -1, -1):
    print(word[i], end="")
print("\n")

Question 4:

In [4]:
input_str = "WE, THE PEOPLE OF INDIA," "\n" + "\t" + " having solemnly resolved to constitute India into a SOVEREIGN, !" "\n"+ "\t" + " SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC" + "\n" "\t"+ "  " + "and to secure to all its citizens"
print(input_str)

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN, !
	 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
	  and to secure to all its citizens